.right-column{
    display: none;
}

.left-column{
    padding: var(--space-16);
}

.welcoming-title{
    font-weight: 600;
    font-size: var(--font-size-24);
}

.form{
    max-width: max-content;
}

.cta-btn{
    width: 100%;
    margin-top: 32px;
}

.login-prompt,
.sign-up-prompt{
    font-weight: 500;
    font-size: var(--font-size-14);
    margin-top: var(--space-32);
    text-align: center;
}

.log-in-link,
.sign-up-link{
    font-weight: 600;
    text-decoration: underline;
}

/* Media Queries */
@media(min-width: 768px){
    .right-column{
        display: block;
        border-left: 2px solid var(--black);
        background-image: url("../img/gears.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .row{
        display: flex;
    }

    .left-column, 
    .right-column{
        width: 50%;

    }
}